
/* 
  USING CSS LIBRARY  LOCALY
*/
@import 'vendors/materialize/materialize';


/* 
 USING LIBRARY FROM NODE_MODULES
 !NOTICE -  register js into /functions/theme/theme-script.php file

 @import "./bootstrap/variables";
 @import "node_modules/bootstrap/scss/bootstrap";
*/

@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

//@import 'base/reset';
@import 'base/typography';

@import 'layout/navigation';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';


@import 'components/buttons';
@import 'components/carousel';


@import 'pages/home';
@import 'pages/contact';
